@import "tailwindcss";

:root {
  --background: #08090a; /* Dark Background */
  
  --card: #0f1011; /* Secondary Dark */
  --border: #1b1c1d; /* Medium Gray */
}

@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-border: var(--border);

}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}